<div class="login-form">
{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}
  <div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
      <form action="/user/login" method="POST">
        <label class="form-label" for="username">Username: user</label>
        <input class="form-control" type="text" name="username" />
        <label class="form-label" for="password">Password: 123456789Aa!</label>
        <input class="form-control" type="text" name="password" />
        <button class="btn btn-outline-success" name="submit">Login</button>
      </form>
    </div>
  </div>
</div>