{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<div class="signup-form">
  <div class="card header-blue">
    <h5 class="card-header" style="font-weight:bold">Sign-up</h5>
    <div class="card-body table-lightblue">
      <form action="/user/signup" method="POST">
        <label class="form-label" for="username" style="font-weight:bold">Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Please enter your username"/>
        <label class="form-label" for="email" style="font-weight:bold">E-mail:</label>
        <input class="form-control" type="text" name="email" placeholder="Please enter your e-mail address"/>
        <label class="form-label" for="password" style="font-weight:bold">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Must have between 8 and 15 characters and contain at least one number, special character, lowercase and uppercase letters"/>
        <button class="btn btn-outline-primary" name="submit">Register</button>
      </form>
    </div>
  </div>
</div>