<h2>Pending</h2>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Book title</th>
      <th scope="col" width="100px">Move to reading</th>
      <th scope="col" width="100px">Move to read</th>
    </tr>
  </thead>
  <tbody>
      {{#each findBooks}}
    <tr>
      <td>{{this.title}}</td>
      <td><form method="POST" action="/profile/{{this._id}}/editToReading"><button>Reading</button></form></td>
      <td><form method="POST" action="/profile/{{this._id}}/editToRead"><button>Read</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>