{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<h2>My profile</h2>

<h3>Welcome, {{actualUser.username}}!</h3>
<form method="POST" action="/profile/delete">
<button>Delete</button>
</form>