    <div class="d-flex">
      <div class="card card-library card-book">
        <img src="/images/pending.png" class="card-img-top" alt="pending read image" />
        <div class="card-body">
          <form method="GET" action="/library/pending">
            <button class="btn btn-primary card-library-btn" style="align-item: center">Pending</button>
          </form>
        </div>
      </div>
      <div class="card card-library card-book">
        <img src="/images/reading.png" class="card-img-top" alt="reading image" />
        <div class="card-body">
          <form method="GET" action="/library/reading">
            <button class="btn btn-primary card-library-btn">Reading</button>
          </form>
        </div>
      </div>
      <div class="card card-library card-book">
        <img src="/images/read.png" class="card-img-top" alt="read image" />
        <div class="card-body">
          <form method="GET" action="/library/read">
            <button class="btn btn-primary card-library-btn">Read</button>
          </form>
        </div>
      </div>
    </div>
