<h2>Book Search</h2>

<div class="signup-form">

  <div class="card">
    <h5 class="card-header">Search your book:</h5>
    <div class="card-body">
      <form action="/user/signup" method="POST">

        <label class="form-label"  for="title">Title:</label>
        <input class="form-control" type="text" name="title" />

        <label class="form-label" for="author">Author:</label>
        <input class="form-control" type="text" name="author" />
        
        <button class="btn btn-outline-success" name="submit">Search book</button>
      </form>
    </div>
  </div>
</div>