{{#if errorMessage}}
<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<div class="signup-form">
  <div class="card header-blue">
    <h5 class="card-header" style="font-weight:bold">Search a book:</h5>
    <div class="card-body bg-lightblue">
      <form action="/books" method="POST">

        <label class="form-label"  for="title" style="font-weight:bold">Title:</label>
        <input class="form-control" type="text" name="title"/>

        <label class="form-label" for="author" style="font-weight:bold">Author:</label>
        <input class="form-control" type="text" name="author" />

        <button class="btn btn-outline-primary" name="submit">Search book</button>
      </form>
    </div>
  </div>
</div>