body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.login-form,
.login-form .btn,
.login-form label,
.main-title h1,
.signup-form,
.signup-form .btn,
.signup-form label {
  margin-top: 20px;
}
