body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.card-body {
  overflow: visible;
}

.card-detail-btn {
  width: 200px;
  margin-right: 1rem;
}

.card-library-btn {
  /* width: 8rem; */
  margin-right: 1rem;
}

.card-library {
  padding-top: 1rem;
  margin-right: 2rem;
  width: 20rem;
}

.card-list {
  width: 10rem;
  /* height: 22rem; */
  align-items: center;
}

.alert,
.card-detail,
.card-library,
.card-list,
.card-user-detail,
.login-form,
.login-form .btn,
.login-form label,
.main-title h1,
.signup-form,
.signup-form .btn,
.signup-form label {
  margin-top: 1rem;
}

.signup-hint{
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
}

.btn-user-edit, .btn-user-delete {
  width: 14rem;
  height: 3rem;
}

.logo {
  height: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.profile-pic {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 9rem;
  height: 9rem;
}

.header-blue {
  background-color: #9ac9f8;
}

.bg-lightblue {
  background-color: #d5f9f8;
}

.card-book-container {
  background-color: #dee3fb;
}

.card-book {
  border: 3px solid black;
  border-radius: 15px;
}

.card-profile {
  border: 3px solid black;
}

.card-library,
.page-title h3 {
  align-items: center;
  padding: 1rem;
}

.card-library,
.card-user-color {
  background-color: #e9f5fb;
}

.flex {
  display: flex;
}

.user-collection_legend{
  margin-bottom: 1rem;
}