{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<h2>User profile </h2>
<table class="table table-hover table-bordered">
  <thead>
    <tr style="background-color: lightgray">
      <th scope="col" width="50px">Status</th>
      <th scope="col">Book title</th>
    </tr>
  </thead>
  <tbody>
    {{#each bookList}}
      <tr>
        <td><img
            src="/images/{{status}}.png"
            alt="{{status}}"
            width="50px"
          /></td>
        <td class="align-middle">{{title}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>