{{#if errorMessage}}
   <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
{{/if}}

<h2>User list</h2>

{{#each searchedUser}}
<a href="/other-users/{{_id}}">{{username}}</a> 
{{/each}}

