<div class="login-form">
  <div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
      <form action="/user/login" method="POST">
        <label class="form-label" for="email">E-mail</label>
        <input class="form-control" type="text" name="email" />
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="text" name="password" />
        <a href="#" class="btn btn-outline-success">Login</a>
      </form>
    </div>
  </div>
</div>